footer {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  padding: 16px 36px;
  flex-direction: column;
  gap: 36px;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer section h5 {
  color: #555;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

footer section div {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #555;
  font-family: Quicksand, sans-serif;
  font-size: 14.22px;
  font-weight: 400;
}

footer hr {
  width: 85px;
  height: 1px;
}

footer div {
  display: flex;
  height: 83px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

footer div > p {
  color: #555;
  font-family: Jost, sans-serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
}

#logo {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 768px;
    margin: 0 auto;
  }

  footer section div {
    padding: 0;
  }
}
