<main>
  <a routerLink="/categories" routerLinkActive="active">
    <svg
      width="70px"
      height="40px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0" />
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <g id="SVGRepo_iconCarrier">
        <path
          d="M6 12H18M6 12L11 7M6 12L11 17"
          stroke="#1465BB"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
    </svg>

    Volver
  </a>
  <div class="container">
    <h2>{{ category?.name }}</h2>
    <p>{{ category?.description }}</p>
    @if (auctions.length > 0) {
    <h3>Subastas disponibles actualmente:</h3>
    } @else {
    <h3>No hay subastas disponibles en esta categoría</h3>
    }
  </div>

  <div class="auctions">
    <app-category-auction *ngFor="let auction of auctions" [auction]="auction">
    </app-category-auction>
  </div>
</main>
