<main>
    <h1>Sobre Nosotros</h1>
    <p>Bienvenidos a Venteo, la revolución en subastas en línea.
        En Venteo, transformamos la forma en que las personas acceden a las subastas, brindando una plataforma segura, transparente y accesible para todos. Nuestra misión es simple: conectar a vendedores apasionados con compradores entusiastas, ofreciendo una experiencia de subasta sin precedentes.
    </p>
    <h2>Nuestra Historia</h2>
    <p>
        Desde nuestra fundación en 2023, hemos creído en el poder de la tecnología para democratizar el proceso de subastas. Lo que comenzó como un pequeño proyecto entre amigos, se ha convertido en una plataforma líder en el mercado de subastas en línea, con usuarios en todo el mundo.

    </p>

    <h2>Cómo Funciona</h2>
    <p>Para Vendedores: Si tienes un producto único que deseas vender, nuestra plataforma te lo facilita. Simplemente crea una cuenta, sube los detalles de tu producto y establece tu precio inicial. Nosotros nos encargamos del resto, asegurando que tu producto alcance a una amplia audiencia de compradores potenciales.
        Para Compradores: ¿Buscas algo especial? Navega por nuestras diversas categorías, encuentra lo que te interesa y empieza a pujar. Con nuestra interfaz intuitiva y sistema de pujas en tiempo real, nunca te perderás la oportunidad de conseguir ese objeto único.</p>

    <h2>Seguridad y Confianza</h2>

    <p>
        La seguridad es nuestra máxima prioridad. Contamos con medidas de seguridad de vanguardia para proteger tanto a compradores como a vendedores. Cada transacción se realiza de manera segura, y nuestro equipo de soporte está casi siempre disponible para ayudarte.
        Compromiso con la Excelencia
        En Venteo, nos esforzamos por mejorar constantemente. Valoramos tus comentarios y trabajamos incansablemente para innovar y ofrecer la mejor experiencia de subasta en línea.
        Únete a nuestra comunidad y descubre una nueva manera de comprar y vender. ¡En Venteo, cada puja cuenta!</p>

</main>
